<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Landscape</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="../public/style.css">





</head>

<body>


  <div class="topNav uppercase">
    <a href="https://pinhsuan-chen.github.io/pinokophotography/" class="active bold">Home</a>
    <a href="landscape.html">Landscape</a>
    <a href="food.html">Food</a>
    <a href="search.html">Search</a>
    <a href="javascript:void(0);" class="icon slideUp">&#9776;</a>

  </div>

  <div class="topNav responsive uppercase">
    <a href="landscape.html">Landscape</a>
    <!-- <a href="food.html">Food</a> -->
    <a href="search.html">Search</a>
    <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->

  </div>

  <div class="sideNav">
    <div class="logo">Pinoko Photo</div>
    <div class="links  uppercase">
      <a class="alignCenter" href="https://pinhsuan-chen.github.io/pinokophotography/">Home</a>
      <a class="alignCenter" href="landscape.html">Landscape</a>
      <!-- <a class="alignCenter" href="food.html">Food</a> -->
      <a class="alignCenter" id="search" href="search.html"><i class="fas fa-search"></i> Search </a>


    </div>


    <div id="rights">
      <p>© 2018 Pinoko Photography </p>
      <p>All rights reserved</p>
    </div>
  </div>

  <!-- end of side nav -->

  <div class="p-container-right p-row">

    <div class="photoWall photoWallFlex">
      <div><img src="../public/img/small/21.jpg"></div>
      <div><img src="../public/img/small/22.jpg"></div>
      <div><img src="../public/img/small/23.jpg"></div>

      <div><img src="../public/img/small/6.jpg"></div>
      <div><img src="../public/img/small/13.jpg"></div>
      <div><img src="../public/img/small/7.jpg"></div>
      <div><img src="../public/img/small/12.jpg"> </div>
      <div><img src="../public/img/small/9.jpg"></div>
      <div><img src="../public/img/small/24.jpg"></div>
      <div><img src="../public/img/small/25.jpg"></div>
      <div><img src="../public/img/small/26.jpg"></div>
      <div><img src="../public/img/small/27.jpg"></div>
      <div><img src="../public/img/small/28.jpg"></div>
      <div><img src="../public/img/small/29.jpg"></div>
      <div><img src="../public/img/small/30.jpg"></div>
      <div><img src="../public/img/small/31.jpg"></div>
      <div><img src="../public/img/small/32.jpg"></div>
      <div><img src="../public/img/small/33.jpg"></div>
      <div><img src="../public/img/small/34.jpg"></div>
      <div><img src="../public/img/small/17.jpg"></div>
      <div><img src="../public/img/small/16.jpg"></div>
      <div><img src="../public/img/small/2.jpg"></div>
      <div><img src="../public/img/small/3.jpg"></div>
      <div><img src="../public/img/small/15.jpg"></div>
      <div><img src="../public/img/small/14.jpg"></div>
      <div><img src="../public/img/small/4.jpg"></div>
      <div><img src="../public/img/small/5.jpg"></div>
      <div><img src="../public/img/small/10.jpg"></div>
      <div><img src="../public/img/small/11.jpg"></div>
      <div><img src="../public/img/small/18.jpg"></div>
      <div><img src="../public/img/small/19.jpg"></div>
      <div><img src="../public/img/small/20.jpg"></div>

    </div class="photoWall">
            <!-- 
                <div class="p-col threeTwoOne" id="col-1">1</div>
                <div class="p-col threeTwoOne" id="col-2">2</div>
                <div class="p-col threeTwoOne" id="col-3">3</div> -->

        <!--         
                <section class="photoWall3 photoWall">
                 <img src="../public/img/small/17.jpg">
                   <img src="../public/img/small/16.jpg">
                  <img src="../public/img/small/2.jpg">
                  <img src="../public/img/small/3.jpg">
                   <img src="../public/img/small/15.jpg">
                    <img src="../public/img/small/14.jpg">
                  <img src="../public/img/small/4.jpg">
                <img src="../public/img/small/5.jpg">
                  <img src="../public/img/small/6.jpg">
                   <img src="../public/img/small/13.jpg">
                  <img src="../public/img/small/7.jpg">
                  <img src="../public/img/small/12.jpg"> 
                  <img src="../public/img/small/9.jpg">
                  <img src="../public/img/small/10.jpg">
                  <img src="../public/img/small/11.jpg">
                  <img src="../public/img/small/18.jpg">
                   <img src="../public/img/small/19.jpg">
                    <img src="../public/img/small/20.jpg">
                 
                  </section> -->


                </div>





                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

                <script src="../public/script.js" ></script>


              </body>
              </html>