<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Photo</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="../style.css">




</head>

<body>



  <div class="topNav uppercase" id="myTopNav">
    <a href="#home" class="active bold">Home</a>
    <a href="#news">Landscape</a>
    <a href="#contact">Food</a>
    <a href="#about">Search</a>
    <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
    <a href="javascript:void(0);" class="icon slideUp">&#9776;</a>

  </div>
  <div class="topNav responsive uppercase">
    <a href="#">Landscape</a>
    <a href="#">Food</a>
    <a href="#">Search</a>
    <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->

  </div>
  <div class=p-container-whole>
    <div class="sideNav">
      <div class="logo">Pinoko Photo</div>
      <div class="links  uppercase">
        <a class="alignCenter" href="#">Home</a>
        <a class="alignCenter" href="#">Landscape</a>
        <a class="alignCenter" href="#">Food</a>
        <a class="alignCenter" id="search" href="#"><i class="fas fa-search"></i> Search </a>
       

      </div>
       <div id="rights">
          <p>© 2018 Pinoko Photography </p>
          <p>All rights reserved</p>
        </div>
    </div>
    
    <div class="p-container-right p-row">
            <!-- 
                <div class="p-col threeTwoOne" id="col-1">1</div>
                <div class="p-col threeTwoOne" id="col-2">2</div>
                <div class="p-col threeTwoOne" id="col-3">3</div> -->
                <div class="infoContainer">
 <section class="photoWall1">
                    <img src="../webPhoto/img2.jpeg">
                  </section>
                  <div>
                    pp
                  </div>
                    <iframe 
      width="700" 
      height="500" 
      frameborder="0" 
      style="border:0" 
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBZbbfsubwscnq2KCPUpQkJamv_kID9SIs&q=nara+station" 
      allowfullscreen>
  </iframe>



                </div>




              </div>

            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
            <script src="../script.js" ></script>


          </body>
          </html>