<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Search</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="../public/style.css">
  <style class="list-search-style">

</style>




</head>

<body>

  <div class="topNav uppercase">
    <a href="https://pinhsuan-chen.github.io/pinokophotography/" class="active bold">Home</a>
    <a href="landscape.html">Landscape</a>
    <a href="food.html">Food</a>
    <a href="search.html">Search</a>
    <a href="javascript:void(0);" class="icon slideUp">&#9776;</a>

  </div>

  <div class="topNav responsive uppercase">
    <a href="landscape.html">Landscape</a>
    <a href="food.html">Food</a>
    <a href="search.html">Search</a>
    <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->

  </div>

  <div class="sideNav">
    <div class="logo">Pinoko Photo</div>
    <div class="links  uppercase">
      <a class="alignCenter" href="https://pinhsuan-chen.github.io/pinokophotography/">Home</a>
      <a class="alignCenter" href="landscape.html">Landscape</a>
      <a class="alignCenter" href="food.html">Food</a>
      <a class="alignCenter" id="search" href="search.html"><i class="fas fa-search"></i> Search </a>


    </div>


    <div id="rights">
      <p>© 2018 Pinoko Photography </p>
      <p>All rights reserved</p>
    </div>
  </div>

    
    <div class="p-container-right p-row">
            <!-- 
                <div class="p-col threeTwoOne" id="col-1">1</div>
                <div class="p-col threeTwoOne" id="col-2">2</div>
                <div class="p-col threeTwoOne" id="col-3">3</div> -->
                <div class="infoContainer">
                 <div class="list-search">
                  <h1>Search:</h1> <input class="search-text" type="text" placeholder="Enter your keyword">

                                   <div class="photoWall3" id="search-photo-container">
                    <img class="tag-web" data-title="1" src="../public/img/img1.jpeg">
                    <img class="tag-web" data-title="2" src="../public/img/img2.jpeg">
                    <img class="tag-web" data-title="3" src="../public/img/img3.jpeg">
                    <img class="tag-web" data-title="4" src="../public/img/img4.jpeg">
                    <img class="tag-web" data-title="5" src="../public/img/img5.jpeg">
                    <img class="tag-web" data-title="6" src="../public/img/img6.jpeg">
                    <img class="tag-web" data-title="7" src="../public/img/img7.jpeg">
                  </div>
                </div>




              </div>




            </div>

          </div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
          <script src="../public/script.js" ></script>




        </body>
        </html>