ch1{
	margin-top: 20px;
	margin-bottom: 10px;
}
.p-container-whole{
	width:100%;
	overflow:auto;
}

a{
	font-size: 12px;

	padding: 10px 10px;
	text-decoration: none;
}
.bold{
	font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.displayTable{
	display: table;
}
.displayTableCell{
	display: table-cell;
	vertical-align: top;
}
.displayNone{
	display: none;
}
.p-container-right .infoContainer{
	word-wrap: break-word; 
	width:100%;
	overflow:auto;
	text-align: center;
}
.p-container-right .infoContainer img{
max-width: 900px;
clear:left;
clear:right;
margin:0 auto;
}
/*====================================TOP MENU====================================*/
.topNav{
	background: #eee;
	display: none;
	padding:5px;
	width:100%;
    position:sticky;
    top:0;
    box-shadow: 0px 1px 3px #e0e0e0;
    color:#996699;
    z-index:9999 !important;
    opacity: 1;


}
.topNav a {
	display: inline-block;
	color: black;
}

/* Add an active class to highlight the current page */
/*.active {
    background-color: #4CAF50;
    color: white;
}
*/
.topNav a:not(:first-child)  {
	display: none;
}

.topNav a.icon {
	float: right;
	display: block;
	/*font-size: 16px;*/
}

.topNav.responsive {
	position: relative;
	display:none ;
}
.topNav.responsive a.icon {
	position: absolute;
	right: 0;
	top: 0;
}
.topNav.responsive a {
	float: none;
	display: block;
	text-align: left;
}


/*----------------------------------TOP NAV---------------------------------*/




div.logo{
	background: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top:60px;
	padding-bottom: 60px;
}
.container{
	width:100%;
	padding:0;
}
.left300{
	margin-left: 300px;
}
.p-container-right{
	/*overflow: hidden;*/
	margin-left: 300px;
	padding: 0;

}

#homeWall{
		width: 100% !important;
	height: auto !important;
	background: blue;
	padding: 0;

}
.p-row:after{
	/* Clear floats after the columns */

	content: "";
	display: table;
	clear: both;

}
.p-col{
	padding-right: 15px;
	padding-left: 0;
}
.smallPadding{
	padding-right: 5px;
	padding-left: 5px;
}
.photoWall1 img{
	width:100%;
	height: 100%;
	margin-bottom: 20px;


}
.photoWall1{
	max-width:900px;
/*	line-height: 10px;
	column-count: 1;
	column-gap:   20px;  */
}
/*
@media screen and (max-width: 1100px) {
	.photoWall1{
	width:100%;
}

}*/
.photoWallFull img{
width:100%;
	height: 100%;
	margin-bottom: 20px;
}
.photoWall img{
	display: none;
}

.photoWallFlex { 
	    justify-content: space-between;

  padding: 0 .5vw .5vw .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.photoWallFlex div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 300px; 
  margin: 0 .5vw .5vw .5vw; 
}
.photoWallFlex div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  .photoWall div { margin: 0; }
  .photoWall { padding: 0; }
  
}
/*=======================Photo wall3======================================*/
.photoWall3{
	line-height: 10px;
	column-count: 3;
	column-gap:   20px;  
}
.photoWall3 img ,{
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
	padding-bottom: 20px;
}


@media (max-width: 1200px) {
  .photoWall3 {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media (max-width: 600px) {
  .photoWall3, .photoWall1 {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
/*---------------------------Photo wall-------------------------------------*/

.fixedFullHeight{
position: fixed;
}

.sideNav{
	
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top:0;
	left:0;
	padding:0;
	overflow-x: hidden;
	margin:0;
}
.sideNav a {
	padding:6px 8px 6px 16px;
	text-decoration: none;
	font-size: 14px;
	color:black;
	display: block;
	margin:0 auto;
}
.sideNav a:hover{
	color:orange;
}


.sideNav a.alignCenter {
	display: block;

	text-align: center;
}
.sideNav .links{
	padding-top:40px;
}
.links #search{
	margin-top: 120px;
	font-size: 12px
}
.links #search i{
	font-size: 10px;
	font-weight: thin;
}
#rights{
	font-size: 6px;
	margin:150px auto;
	line-height: 4px;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	.sideNav{display: none !important;}
	.topNav{display: block;}
	.p-container-right{margin-left: 0;}
	/*.topNav.responsive{display:block;}*/


}
.displayBlock{
	display: block;
}
.displayNone{
	display: none;
}
.p-col.threeTwoOne{
	width:33%;
	background: tomato;
	float:left;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 600px;
  width: 600px;
}
iframe{
	margin:30px;
}
input{
	width: 500px;
	height: 3em;
	margin-bottom: 30px;
	display: inline-block;
}
.list-search{
padding:30px;
}
